/build/.vs
*.filters
*.dir
/build/_deps/curl-build/CMakeFiles
/build/_deps/curl-build/*/CMakeFiles
/build/_deps/curl-build/*.dir
/build/_deps/curl-build/docs/*/*.dir
/build/_deps/curl-build/docs/x64
/build/_deps/curl-build/docs/libcurl/opts
/build/_deps/curl-build/docs/libcurl
/build/src/compat-harness/CMakeFiles
*.stamp
*.depend
/build/_deps/tl_expected-build/CMakeFiles
/build/_deps/curl-subbuild/CMakeFiles
/build/_deps/nlohmann_json-subbuild/CMakeFiles
/build/bin/Debug
/build/x64/Debug
/build/_deps/tl_expected-subbuild/x64/Debug
/build/_deps/tl_expected-subbuild/CMakeFiles
/build/_deps/tl_expected-subbuild/tl_expected-populate-prefix/src
/build/_deps/tl_expected-subbuild/tl_expected-populate-prefix
/build/_deps/curl-subbuild/x64/Debug
/build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp
/build/_deps/nlohmann_json-subbuild/x64/Debug
/build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix
/build/CMakeFiles
/build/_deps/curl-src/.github
/build/_deps/curl-subbuild/curl-populate-prefix/src/curl-populate-stamp/Debug
/build/lib/Debug
/build/_deps/tl_expected-subbuild
/build/_deps/nlohmann_json-build
/build/_deps/curl-subbuild/curl-populate-prefix
/build/_deps/curl-subbuild
/build/_deps/curl-src/.circleci
/build/_deps/tl_expected-src/.github
*.vcxproj.user
/build/_deps/nlohmann_json-subbuild
/build/x64/Release/ZERO_CHECK
/build/lib/Release
/build/x64/Release/ALL_BUILD
